.parent {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.child {
    min-height: 200px;
    width: 300 px;
    background-color: rgb(17, 221, 34);
    border: 2px solid #000;
}